@page
@model RazorPages.Pages.CheckoutModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>CheckOutPage</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
    <script src="https://unpkg.com/@@turf/turf@6.5.0/turf.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body { margin: 0; padding: 0; }
        #map {position: relative; height: 400px; width: 440px; }
        #distance { position: absolute; top: 10px; left: 10px; background: white; padding: 5px; z-index: 1; }
        .map-container {
            height: 400px; /* Adjust map height as needed */
        }
        .progress-bar {
            width: 100%;
            background-color: #e0e0e0;
            border-radius: 5px;
            overflow: hidden;
        }
        .progress-bar-fill {
            height: 20px;
            background-color: #007bff;
            width: 0;
            transition: width 0.3s;
        }
    </style>
</head>
<body>


<div class="d-flex justify-content-center align-items-center py-5" style="height: 100vh; width: 100%">
    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h1 class="card-title">Order Billing</h1>
                        <a class="text-decoration-underline text-black " asp-page="./Cart">Back To Cart</a>
                    </div>
                    <hr>
                    <div id="nowDate" class="my-3"></div>
                    <ul class="pl-0 list-group list-group-flush border p-4">
                        @if (Model.SessionList != null && Model.SessionList.Count != 0)
                        {
                            @foreach (var item in Model.SessionList)
                            {
                                <li class="list-group-item mb-3 border-0 box-shadow shadow-sm">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="d-flex justify-content-center align-items-center rounded-circle" style="width: 50px; height: 50px; overflow: hidden;">
                                                <img src="@(Model.CartListModel?.First(x => x.ProductID.Equals(@item.ProductId)).Imgs)" alt="Ảnh sản phẩm" class="img-fluid" style="object-fit: cover; width: 100%; height: 100%;">
                                            </div>
                                        </div>
                                        <div class="col-7">
                                            <div>
                                                <div class="text-truncate">Tên Sản phẩm: <strong>@(Model.CartListModel?.First(x => x.ProductID.Equals(@item.ProductId)).ProductName)</strong></div>
                                                - @(Model.CartListModel?.First(x => x.ProductID.Equals(@item.ProductId)).ProductDescription)
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div>
                                                Giá: @(Model.CartListModel?.First(x => x.ProductID.Equals(@item.ProductId)).Price)đ<br>
                                                Số lượng: @item.Quantity <!-- Replace with your dynamic quantity -->
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                    <div class="mt-4 mb-2 d-flex justify-content-end align-items-center">
                        Ship Distance:<span id="shipDistance"></span>
                    </div>
                    <div class="mb-2 d-flex justify-content-end align-items-center">
                        Ship Cost:<span id="shipCost"></span>
                    </div>
                    <div class="mb-3 d-flex justify-content-end">
                        Product Cost: <span id="productCost"></span>
                    </div>
                    <hr>
                    <div class="mb-3 d-flex justify-content-between align-items-center">
                        <h3>Total Bill:</h3>
                        <h4><span id="totalBill"></span></h4>
                    </div>
                    <hr>
                    <div class="mb-3 d-flex justify-content-center">
                        <form method="post" asp-page-handler="CheckOut" style="width: 100%;">
                            @Html.AntiForgeryToken()
                            <button class="btn btn-primary btn-block" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <div class="map-container">
                        <div id="map"></div>
                        <div id="distance">Total distance: 0 km</div>
                    </div>
                </div>
            </div>
            <div class="progress-bar-container mt-3">
                <div class="progress-bar">
                    <div id="progressBarFill" class="progress-bar-fill"></div>
                </div>
                <div id="progressStatus" class="text-center mt-2"></div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // Set the Mapbox access token
    mapboxgl.accessToken = 'pk.eyJ1IjoiYmVudHJhbjF2biIsImEiOiJjbHkwOTBqMGgwazNkMm5xMnk0b2IybTI0In0.2MZ0F2VOrCYC4EjnKa2zxw';

    // Initialize the Mapbox map
    var map = new mapboxgl.Map({
        container: 'map',
        center: [106.8014777370877, 10.875373156839077], // Default center
        zoom: 12, // Initial zoom level
        style: 'mapbox://styles/mapbox/streets-v11' // Map style
    });

    const distanceContainer = document.getElementById('distance');
    const shipDistanceContainer = document.getElementById('shipDistance');
    const shipCostContainer = document.getElementById('shipCost');
    const totalBillContainer = document.getElementById('totalBill');
    const productCostContainer = document.getElementById('productCost');
    const nowDateContainer = document.getElementById('nowDate');
    const statusContainer = document.getElementById('status');

    // Success function to handle the retrieved location
    function success(position) {
        const latitudeUser = position.coords.latitude;
        const longitudeUser = position.coords.longitude;

        // Update the map's center and zoom level to the user's location
        map.setCenter([longitudeUser, latitudeUser]);
        map.setZoom(12); // Closer zoom level to focus on the user's location

        map.on('load', () => {
            // Default shop marker
            const marker1Coords = [106.8014777370877, 10.875373156839077];
            const shopMarker = new mapboxgl.Marker({ color: 'red' })
                .setLngLat(marker1Coords)
                .addTo(map);

            // User's location marker
            const userMarker = new mapboxgl.Marker({ color: 'blue' })
                .setLngLat([longitudeUser, latitudeUser])
                .addTo(map);

            // Function to get and display the route
            async function getRoute(start, end) {
                // URL for the Directions API
                const url = `https://api.mapbox.com/directions/v5/mapbox/driving/${start.join(',')};${end.join(',')}?geometries=geojson&access_token=${mapboxgl.accessToken}`;

                // Fetch the route data
                const response = await fetch(url);
                const data = await response.json();

                // Extract the route geometry
                const route = data.routes[0].geometry;

                // Add the route as a source to the map
                map.addSource('route', {
                    'type': 'geojson',
                    'data': {
                        'type': 'Feature',
                        'properties': {},
                        'geometry': route
                    }
                });

                // Add the route as a layer to the map
                map.addLayer({
                    'id': 'route',
                    'type': 'line',
                    'source': 'route',
                    'layout': {
                        'line-join': 'round',
                        'line-cap': 'round'
                    },
                    'paint': {
                        'line-color': '#3887be',
                        'line-width': 5
                    }
                });

                // Calculate the total distance from the Directions API response
                const distance = data.routes[0].distance / 1000; // Convert to kilometers
                distanceContainer.textContent = `Total route distance: ${distance.toFixed(2)} km`;

                

                // Fit the map to the route bounds
                
                const coordinates = route.coordinates;
                const bounds = new mapboxgl.LngLatBounds(coordinates[0], coordinates[0]);
                for (const coord of coordinates) {
                    bounds.extend(coord);
                }
                map.fitBounds(bounds, {
                    padding: 50
                });
                const addressUser = await getUserAddress(longitudeUser, latitudeUser)
                calculateShippingCost(distance.toFixed(2), longitudeUser, latitudeUser, addressUser);
            }

            // Get and display the route between the shop and user's location
            getRoute(marker1Coords, [longitudeUser, latitudeUser]);
        });

        function calculateShippingCost(distance, kinhdo, vido, addressUser) {
            fetch('/Checkout?handler=CalculateShippingCost', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value
                },
                body: JSON.stringify({ distance: parseFloat(distance), kinhdo: kinhdo.toLocaleString(), vido: vido.toLocaleString(), addressUser: addressUser.toLocaleString() })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    const now = new Date();
                    nowDateContainer.textContent = 'Order Day: ' + now.getDate() + '/' + now.getMonth() + '/' + now.getFullYear()
                    shipDistanceContainer.textContent = + distance + 'km';
                    shipCostContainer.textContent = parseInt(data?.shippingCost).toLocaleString('en') + 'đ';
                    productCostContainer.textContent = parseInt(data?.productCost).toLocaleString('en') + 'đ';
                    totalBillContainer.textContent = parseInt(data.total).toLocaleString('en') + 'đ';
                })
                .catch(error => {
                    console.error('Error:', error.message);
                });
        }

        async function getUserAddress(longitude, latitude) {
            const url = `https://api.mapbox.com/geocoding/v5/mapbox.places/${longitude},${latitude}.json?access_token=${mapboxgl.accessToken}`;
            try {
                const response = await fetch(url);
                const data = await response.json();
                const place = data.features[0];
                if (place) {
                    return place.place_name;
                } else {
                    return 'Address not found';
                }
            } catch (error) {
                console.error('Error fetching address:', error);
                return 'Error fetching address';
            }
        }
    }

    // Error function to handle any issues retrieving the location
    function error() {
        statusContainer.textContent = 'Unable to retrieve your location';
    }

    // Check if the browser supports the Geolocation API
    if (navigator.geolocation) {
        // Request the user's location
        navigator.geolocation.getCurrentPosition(success, error);
    } else {
        // Browser does not support the Geolocation API
        statusContainer.textContent = 'Geolocation is not supported by your browser.';
    }
</script>
</body>
</html>